@{
    ViewData["Title"] = "Olivia and Trevor";
}

<div class="background">
    <div class="mainBanner">
        <div class="mainBannerText">Trevor &amp; Olivia</div>
    </div>
    <div class="content-container">
        <h2>Derek and Shannon Nightingale</h2>
        <h3>Are pleased to announce the marriage of their daughter</h3>
        <h1>Olivia Jane Nightingale</h1>
        <h4>To</h4>
        <h1>Trevor Jordan Spencer</h1>
        <h3>son of</h3>
        <h2>Tony and Stephanie Spencer</h2>
        <h3>In the Ogden, Utah Temple</h3>

        <h3>Please join us for a celebration to be held in their honor that evening</h3>
        <hr />
        <h1>Details</h1>
        <div class="detailsContainer">
            <div>
                <h2>When</h2>
                <h3>Aug | 1 | 2020</h3>
                <h3>6pm - 8pm</h3>
            </div>
            <div>
                <h2>Where</h2>
                <h3>The Preisler Home</h3>
                <h3>3033 N 425 E</h3>
                <h3>North Ogden, UT 84414</h3>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="column">
            <a href="~/images/IMG_8212.JPG"><img src="images/IMG_8212.JPG"></a>
            <img src="images/IMG_8363.JPG">
            <img src="images/IMG_8437.JPG">
            <img src="images/IMG_8443.JPG">
            <img src="images/IMG_8574.JPG">
            <img src="images/IMG_8227.JPG">
            <img src="images/IMG_8212.JPG">
        </div>
        <div class="column">
            <img src="images/IMG_8437.JPG">
            <img src="images/IMG_8227.JPG">
            <img src="images/IMG_8212.JPG">
            <img src="images/IMG_8363.JPG">
            <img src="images/IMG_8443.JPG">
            <img src="images/IMG_8574.JPG">
        </div>
        <div class="column">
            <img src="images/IMG_8443.JPG">
            <img src="images/IMG_8212.JPG">
            <img src="images/IMG_8227.JPG">
            <img src="images/IMG_8212.JPG">
            <img src="images/IMG_8363.JPG">
            <img src="images/IMG_8574.JPG">
        </div>
        <div class="column">
            <img src="images/IMG_8227.JPG">
            <img src="images/IMG_8574.JPG">
            <img src="images/IMG_8212.JPG">
            <img src="images/IMG_8363.JPG">
            <img src="images/IMG_8443.JPG">
        </div>
    </div>
</div>

