* {
  box-sizing: border-box; }

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4 {
  margin-top: 0px; }

.background {
  background-image: url("/images/wood.jpg"); }

.mainBanner {
  background-image: url("/images/IMG_8574.JPG");
  background-position-y: 40%;
  width: 100%;
  height: 300px;
  background-size: cover;
  display: flex; }
  @media only screen and (min-width: 768px) {
    .mainBanner {
      height: 100vh;
      width: auto;
      background-position-y: center; } }
  .mainBannerText {
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    align-self: flex-end;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    font-size: 2em; }
    @media only screen and (min-width: 768px) {
      .mainBannerText {
        padding: 15px;
        font-size: 4em;
        margin-bottom: 20px; } }

.content-container {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 15px; }
  @media only screen and (min-width: 768px) {
    .content-container {
      width: 80%;
      max-width: 920px;
      margin: 0px auto; } }

.detailsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.galleryImage {
  height: auto;
  width: 100%;
  transition: 0.3s; }
  .galleryImage:hover {
    opacity: 0.7; }

.imageContainer {
  height: 125px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px; }

.column {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px; }
  @media screen and (min-width: 600px) {
    .column {
      flex: 50%;
      max-width: 50%; } }
  @media screen and (min-width: 928px) {
    .column {
      flex: 25%;
      max-width: 25%; } }

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%; }
